.projects {
  box-shadow: none;

  &_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    padding: 0 50px;
    box-shadow: none;

    @media (max-width: 650px) {
      flex-direction: column;
      padding:0 30px;
      margin-top: 30px;
    }
  }

  &_link {
    text-decoration: none;
  }
}