.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 710px;

  &_lightmode {
    color: #333333;
    background-color: white;
    box-shadow: rgba(0,0,0,.419608) 0px 14px 26px -12px, rgba(0,0,0,.117647) 0px 4px 23px 0px, rgba(0,0,0,.2) 0px 8px 10px -5px;
  }

  &_nightmode {
    color: white;
    background-color: rgb(95, 93, 93);
    box-shadow: rgba(200, 200, 200, 0.42) 0px 14px 26px -12px, rgba(200, 200, 200, 0.118) 0px 4px 23px 0px, rgba(200, 200, 200, 0.2) 0px 8px 10px -5px;
  }

  h1 {
    font-size: 60px;
    font-weight: 600;
  }

  &_link {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      color: #889dd7;
    }
  }
}